In [77]:
import pandas as pd

In [78]:
def_df = pd.read_csv('Data/def_df.csv')
play_df = pd.read_csv('Data/play_df.csv')

In [79]:
def_df

,Def_Tm,Def_Year,Def_PF,Def_Fum_Play,Def_Att_Pass,Def_Comp_Pct,Def_TD_PA,Def_INT_PA,Def_NY/A,Def_1D_PA,Def_Att_Rush,Def_TD_RA,Def_Y/A,Def_1D_RA
0,MIN,2017,252,0.005230,555,0.583784,0.023423,0.025225,5.2,0.302703,364,0.027473,3.7,0.162088
1,JAX,2017,268,0.012085,509,0.567780,0.033399,0.041257,4.8,0.280943,429,0.020979,4.3,0.212121
2,LAC,2017,272,0.009027,524,0.627863,0.032443,0.034351,5.6,0.291985,430,0.025581,4.9,0.230233
3,PHI,2017,295,0.012295,601,0.603993,0.039933,0.031614,5.7,0.294509,337,0.020772,3.8,0.183976
4,NE,2017,296,0.005871,590,0.622034,0.040678,0.020339,6.4,0.345763,390,0.015385,4.7,0.251282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,ARI,2019,442,0.009259,601,0.700499,0.063228,0.011647,7.0,0.404326,439,0.020501,4.4,0.214123
92,TB,2019,449,0.014911,664,0.614458,0.045181,0.018072,6.1,0.334337,362,0.030387,3.3,0.193370
93,NYG,2019,451,0.005655,556,0.663669,0.053957,0.017986,7.1,0.379496,469,0.040512,3.9,0.213220
94,CAR,2019,470,0.006718,544,0.637868,0.038603,0.025735,6.2,0.362132,445,0.069663,5.2,0.287640
95,MIA,2019,494,0.002849,545,0.631193,0.071560,0.023853,7.4,0.392661,485,0.030928,4.5,0.232990

In [80]:
play_df

,Year,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,goal_to_go,ydstogo,play_type,score_differential,shotgun,no_huddle
0,2019,ATL,MIN,0,75.0,900.0,1800.0,3600.0,1,1.0,0,10,pass,0.0,0,0
1,2019,ATL,MIN,0,83.0,860.0,1760.0,3560.0,1,2.0,0,18,run,0.0,0,0
2,2019,ATL,MIN,0,79.0,821.0,1721.0,3521.0,1,3.0,0,14,run,0.0,1,0
3,2019,MIN,ATL,1,31.0,752.0,1652.0,3452.0,1,1.0,0,20,pass,0.0,0,0
4,2019,MIN,ATL,1,23.0,717.0,1617.0,3417.0,1,2.0,0,12,pass,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99968,2018,NE,PHI,1,91.0,42.0,42.0,42.0,4,4.0,0,10,pass,-8.0,1,0
99969,2018,NE,PHI,1,78.0,26.0,26.0,26.0,4,2.0,0,10,pass,-8.0,1,0
99970,2018,NE,PHI,1,67.0,20.0,20.0,20.0,4,1.0,0,10,pass,-8.0,1,0
99971,2018,NE,PHI,1,51.0,13.0,13.0,13.0,4,1.0,0,10,pass,-8.0,1,0
99972,2018,NE,PHI,1,51.0,9.0,9.0,9.0,4,2.0,0,10,pass,-8.0,1,0

In [84]:
final_df = pd.merge(play_df, def_df,  how='left', left_on=['Year','defteam'], right_on = ['Def_Year','Def_Tm'])

In [85]:
final_df

,Year,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,...,Def_Att_Pass,Def_Comp_Pct,Def_TD_PA,Def_INT_PA,Def_NY/A,Def_1D_PA,Def_Att_Rush,Def_TD_RA,Def_Y/A,Def_1D_RA
0,2019,ATL,MIN,0,75.0,900.0,1800.0,3600.0,1,1.0,...,601,0.655574,0.038270,0.028286,5.8,0.357737,404,0.019802,4.3,0.193069
1,2019,ATL,MIN,0,83.0,860.0,1760.0,3560.0,1,2.0,...,601,0.655574,0.038270,0.028286,5.8,0.357737,404,0.019802,4.3,0.193069
2,2019,ATL,MIN,0,79.0,821.0,1721.0,3521.0,1,3.0,...,601,0.655574,0.038270,0.028286,5.8,0.357737,404,0.019802,4.3,0.193069
3,2019,MIN,ATL,1,31.0,752.0,1652.0,3452.0,1,1.0,...,536,0.654851,0.052239,0.022388,6.9,0.358209,421,0.030879,4.2,0.256532
4,2019,MIN,ATL,1,23.0,717.0,1617.0,3417.0,1,2.0,...,536,0.654851,0.052239,0.022388,6.9,0.358209,421,0.030879,4.2,0.256532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99968,2018,NE,PHI,1,91.0,42.0,42.0,42.0,4,4.0,...,626,0.666134,0.035144,0.015974,6.4,0.343450,332,0.042169,4.7,0.213855
99969,2018,NE,PHI,1,78.0,26.0,26.0,26.0,4,2.0,...,626,0.666134,0.035144,0.015974,6.4,0.343450,332,0.042169,4.7,0.213855
99970,2018,NE,PHI,1,67.0,20.0,20.0,20.0,4,1.0,...,626,0.666134,0.035144,0.015974,6.4,0.343450,332,0.042169,4.7,0.213855
99971,2018,NE,PHI,1,51.0,13.0,13.0,13.0,4,1.0,...,626,0.666134,0.035144,0.015974,6.4,0.343450,332,0.042169,4.7,0.213855
99972,2018,NE,PHI,1,51.0,9.0,9.0,9.0,4,2.0,...,626,0.666134,0.035144,0.015974,6.4,0.343450,332,0.042169,4.7,0.213855

In [86]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99973 entries, 0 to 99972
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       99973 non-null  int64
 1   posteam                    99973 non-null  object
 2   defteam                    99973 non-null  object
 3   posteam_type               99973 non-null  int64
 4   yardline_100               99973 non-null  float64
 5   quarter_seconds_remaining  99973 non-null  float64
 6   half_seconds_remaining     99973 non-null  float64
 7   game_seconds_remaining     99973 non-null  float64
 8   qtr                        99973 non-null  int64
 9   down                       99973 non-null  float64
 10  goal_to_go                 99973 non-null  int64
 11  ydstogo                    99973 non-null  int64
 12  play_type                  99973 non-null  object
 13  score_differential         99973 non-null  float64
 14  shotgun                    99973 non-null  int64
 15  no_huddle                  99973 non-null  int64
 16  Def_Tm                     99973 non-null  object
 17  Def_Year                   99973 non-null  int64
 18  Def_PF                     99973 non-null  int64
 19  Def_Fum_Play               99973 non-null  float64
 20  Def_Att_Pass               99973 non-null  int64
 21  Def_Comp_Pct               99973 non-null  float64
 22  Def_TD_PA                  99973 non-null  float64
 23  Def_INT_PA                 99973 non-null  float64
 24  Def_NY/A                   99973 non-null  float64
 25  Def_1D_PA                  99973 non-null  float64
 26  Def_Att_Rush               99973 non-null  int64
 27  Def_TD_RA                  99973 non-null  float64
 28  Def_Y/A                    99973 non-null  float64
 29  Def_1D_RA                  99973 non-null  float64
dtypes: float64(15), int64(11), object(4)
memory usage: 23.6+ MB

In [88]:
final_df = final_df.drop(columns={'Def_Tm', 'Def_Year'})
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99973 entries, 0 to 99972
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       99973 non-null  int64
 1   posteam                    99973 non-null  object
 2   defteam                    99973 non-null  object
 3   posteam_type               99973 non-null  int64
 4   yardline_100               99973 non-null  float64
 5   quarter_seconds_remaining  99973 non-null  float64
 6   half_seconds_remaining     99973 non-null  float64
 7   game_seconds_remaining     99973 non-null  float64
 8   qtr                        99973 non-null  int64
 9   down                       99973 non-null  float64
 10  goal_to_go                 99973 non-null  int64
 11  ydstogo                    99973 non-null  int64
 12  play_type                  99973 non-null  object
 13  score_differential         99973 non-null  float64
 14  shotgun                    99973 non-null  int64
 15  no_huddle                  99973 non-null  int64
 16  Def_PF                     99973 non-null  int64
 17  Def_Fum_Play               99973 non-null  float64
 18  Def_Att_Pass               99973 non-null  int64
 19  Def_Comp_Pct               99973 non-null  float64
 20  Def_TD_PA                  99973 non-null  float64
 21  Def_INT_PA                 99973 non-null  float64
 22  Def_NY/A                   99973 non-null  float64
 23  Def_1D_PA                  99973 non-null  float64
 24  Def_Att_Rush               99973 non-null  int64
 25  Def_TD_RA                  99973 non-null  float64
 26  Def_Y/A                    99973 non-null  float64
 27  Def_1D_RA                  99973 non-null  float64
dtypes: float64(15), int64(10), object(3)
memory usage: 22.1+ MB

In [89]:
final_df.to_csv(r'C:\Users\Garth Torok\MattTorok\capstone\merged_df.csv', index=False)