# Merging Into a Final DF

Now that we have created our 3 seperate dataframes, we will import them and merge them into a single dataframe to model off of.

In [34]:
# Import Library
import pandas as pd

In [35]:
# Import previously created .csv files
def_df = pd.read_csv('Data/def_df.csv')
play_df = pd.read_csv('Data/play_df.csv')
off_df = pd.read_csv('Data/off_df.csv')

In [36]:
def_df

,Def_Tm,Def_Year,Def_PF,Def_Fum_Play,Def_Comp_Pct,Def_TD_PA,Def_INT_PA,Def_NY/A,Def_1D_PA,Def_TD_RA,Def_Y/A,Def_1D_RA,Def_Pass_Pct
0,MIN,2017,252,0.005230,0.583784,0.023423,0.025225,5.2,0.302703,0.027473,3.7,0.162088,0.603917
1,JAX,2017,268,0.012085,0.567780,0.033399,0.041257,4.8,0.280943,0.020979,4.3,0.212121,0.542644
2,LAC,2017,272,0.009027,0.627863,0.032443,0.034351,5.6,0.291985,0.025581,4.9,0.230233,0.549266
3,PHI,2017,295,0.012295,0.603993,0.039933,0.031614,5.7,0.294509,0.020772,3.8,0.183976,0.640725
4,NE,2017,296,0.005871,0.622034,0.040678,0.020339,6.4,0.345763,0.015385,4.7,0.251282,0.602041
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,ARI,2019,442,0.009259,0.700499,0.063228,0.011647,7.0,0.404326,0.020501,4.4,0.214123,0.577885
92,TB,2019,449,0.014911,0.614458,0.045181,0.018072,6.1,0.334337,0.030387,3.3,0.193370,0.647173
93,NYG,2019,451,0.005655,0.663669,0.053957,0.017986,7.1,0.379496,0.040512,3.9,0.213220,0.542439
94,CAR,2019,470,0.006718,0.637868,0.038603,0.025735,6.2,0.362132,0.069663,5.2,0.287640,0.550051
95,MIA,2019,494,0.002849,0.631193,0.071560,0.023853,7.4,0.392661,0.030928,4.5,0.232990,0.529126

In [37]:
play_df

,Year,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,goal_to_go,ydstogo,play_type,score_differential,shotgun,no_huddle
0,2019,ATL,MIN,0,75.0,900.0,1800.0,3600.0,1,1.0,0,10,pass,0.0,0,0
1,2019,ATL,MIN,0,83.0,860.0,1760.0,3560.0,1,2.0,0,18,run,0.0,0,0
2,2019,ATL,MIN,0,79.0,821.0,1721.0,3521.0,1,3.0,0,14,run,0.0,1,0
3,2019,MIN,ATL,1,31.0,752.0,1652.0,3452.0,1,1.0,0,20,pass,0.0,0,0
4,2019,MIN,ATL,1,23.0,717.0,1617.0,3417.0,1,2.0,0,12,pass,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99968,2018,NE,PHI,1,91.0,42.0,42.0,42.0,4,4.0,0,10,pass,-8.0,1,0
99969,2018,NE,PHI,1,78.0,26.0,26.0,26.0,4,2.0,0,10,pass,-8.0,1,0
99970,2018,NE,PHI,1,67.0,20.0,20.0,20.0,4,1.0,0,10,pass,-8.0,1,0
99971,2018,NE,PHI,1,51.0,13.0,13.0,13.0,4,1.0,0,10,pass,-8.0,1,0
99972,2018,NE,PHI,1,51.0,9.0,9.0,9.0,4,2.0,0,10,pass,-8.0,1,0

In [38]:
off_df

,Off_Tm,Off_Year,Off_PF,Off_Fum_Play,Off_Comp_Pct,Off_TD_PA,Off_INT_PA,Off_NY/A,Off_1D_PA,Off_TD_RA,Off_Y/A,Off_1D_RA,Off_Pass_Pct
0,LA,2017,478.0,0.014000,0.617761,0.054054,0.013514,7.0,0.357143,0.037445,4.3,0.213656,0.532922
1,NE,2017,458.0,0.003738,0.662692,0.054514,0.013629,7.1,0.395230,0.035714,4.2,0.238839,0.567150
2,PHI,2017,457.0,0.010252,0.604610,0.067376,0.015957,6.2,0.342199,0.019027,4.5,0.228330,0.543877
3,NO,2017,448.0,0.010000,0.720149,0.042910,0.014925,7.5,0.375000,0.051802,4.7,0.250000,0.546939
4,JAX,2017,417.0,0.009276,0.599620,0.039848,0.024668,6.5,0.366224,0.034156,4.3,0.191651,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,DEN,2019,282.0,0.006289,0.619048,0.031746,0.019841,5.7,0.321429,0.026895,4.1,0.188264,0.552026
92,CHI,2019,280.0,0.006863,0.639655,0.034483,0.020690,5.3,0.306897,0.020253,3.7,0.215190,0.594872
93,CIN,2019,279.0,0.013346,0.577922,0.029221,0.025974,5.5,0.310065,0.023377,3.9,0.220779,0.615385
94,NYJ,2019,276.0,0.009414,0.619962,0.036468,0.030710,5.4,0.310940,0.015666,3.3,0.159269,0.576327
95,WAS,2019,266.0,0.009040,0.622129,0.037578,0.027140,5.3,0.321503,0.025281,4.4,0.207865,0.573653

We will merge our dataframes in two steps using left joins merged on both the year and team names:

* First we will merge the play_df with our off_df 
* Second we will merge the above merged df with our def_df

In [39]:
# Merge all dfs
final_df = pd.merge(play_df, off_df,  how='left', left_on=['Year','posteam'], right_on = ['Off_Year','Off_Tm'])
final_df = pd.merge(final_df, def_df,  how='left', left_on=['Year','defteam'], right_on = ['Def_Year','Def_Tm'])

In [40]:
final_df

,Year,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,...,Def_Fum_Play,Def_Comp_Pct,Def_TD_PA,Def_INT_PA,Def_NY/A,Def_1D_PA,Def_TD_RA,Def_Y/A,Def_1D_RA,Def_Pass_Pct
0,2019,ATL,MIN,0,75.0,900.0,1800.0,3600.0,1,1.0,...,0.013295,0.655574,0.038270,0.028286,5.8,0.357737,0.019802,4.3,0.193069,0.598010
1,2019,ATL,MIN,0,83.0,860.0,1760.0,3560.0,1,2.0,...,0.013295,0.655574,0.038270,0.028286,5.8,0.357737,0.019802,4.3,0.193069,0.598010
2,2019,ATL,MIN,0,79.0,821.0,1721.0,3521.0,1,3.0,...,0.013295,0.655574,0.038270,0.028286,5.8,0.357737,0.019802,4.3,0.193069,0.598010
3,2019,MIN,ATL,1,31.0,752.0,1652.0,3452.0,1,1.0,...,0.008122,0.654851,0.052239,0.022388,6.9,0.358209,0.030879,4.2,0.256532,0.560084
4,2019,MIN,ATL,1,23.0,717.0,1617.0,3417.0,1,2.0,...,0.008122,0.654851,0.052239,0.022388,6.9,0.358209,0.030879,4.2,0.256532,0.560084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99968,2018,NE,PHI,1,91.0,42.0,42.0,42.0,4,4.0,...,0.006986,0.666134,0.035144,0.015974,6.4,0.343450,0.042169,4.7,0.213855,0.653445
99969,2018,NE,PHI,1,78.0,26.0,26.0,26.0,4,2.0,...,0.006986,0.666134,0.035144,0.015974,6.4,0.343450,0.042169,4.7,0.213855,0.653445
99970,2018,NE,PHI,1,67.0,20.0,20.0,20.0,4,1.0,...,0.006986,0.666134,0.035144,0.015974,6.4,0.343450,0.042169,4.7,0.213855,0.653445
99971,2018,NE,PHI,1,51.0,13.0,13.0,13.0,4,1.0,...,0.006986,0.666134,0.035144,0.015974,6.4,0.343450,0.042169,4.7,0.213855,0.653445
99972,2018,NE,PHI,1,51.0,9.0,9.0,9.0,4,2.0,...,0.006986,0.666134,0.035144,0.015974,6.4,0.343450,0.042169,4.7,0.213855,0.653445

In [41]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99973 entries, 0 to 99972
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       99973 non-null  int64
 1   posteam                    99973 non-null  object
 2   defteam                    99973 non-null  object
 3   posteam_type               99973 non-null  int64
 4   yardline_100               99973 non-null  float64
 5   quarter_seconds_remaining  99973 non-null  float64
 6   half_seconds_remaining     99973 non-null  float64
 7   game_seconds_remaining     99973 non-null  float64
 8   qtr                        99973 non-null  int64
 9   down                       99973 non-null  float64
 10  goal_to_go                 99973 non-null  int64
 11  ydstogo                    99973 non-null  int64
 12  play_type                  99973 non-null  object
 13  score_differential         99973 non-null  float64
 14  shotgun                    99973 non-null  int64
 15  no_huddle                  99973 non-null  int64
 16  Off_Tm                     99973 non-null  object
 17  Off_Year                   99973 non-null  int64
 18  Off_PF                     99973 non-null  float64
 19  Off_Fum_Play               99973 non-null  float64
 20  Off_Comp_Pct               99973 non-null  float64
 21  Off_TD_PA                  99973 non-null  float64
 22  Off_INT_PA                 99973 non-null  float64
 23  Off_NY/A                   99973 non-null  float64
 24  Off_1D_PA                  99973 non-null  float64
 25  Off_TD_RA                  99973 non-null  float64
 26  Off_Y/A                    99973 non-null  float64
 27  Off_1D_RA                  99973 non-null  float64
 28  Off_Pass_Pct               99973 non-null  float64
 29  Def_Tm                     99973 non-null  object
 30  Def_Year                   99973 non-null  int64
 31  Def_PF                     99973 non-null  int64
 32  Def_Fum_Play               99973 non-null  float64
 33  Def_Comp_Pct               99973 non-null  float64
 34  Def_TD_PA                  99973 non-null  float64
 35  Def_INT_PA                 99973 non-null  float64
 36  Def_NY/A                   99973 non-null  float64
 37  Def_1D_PA                  99973 non-null  float64
 38  Def_TD_RA                  99973 non-null  float64
 39  Def_Y/A                    99973 non-null  float64
 40  Def_1D_RA                  99973 non-null  float64
 41  Def_Pass_Pct               99973 non-null  float64
dtypes: float64(27), int64(10), object(5)
memory usage: 32.8+ MB

Now we can drop the team name and year columns from the dataframe as they were already displayed from our original play_df.

In [42]:
# Drop redundant columns
final_df = final_df.drop(columns={'Off_Tm', 'Off_Year', 'Def_Tm', 'Def_Year'})
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99973 entries, 0 to 99972
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       99973 non-null  int64
 1   posteam                    99973 non-null  object
 2   defteam                    99973 non-null  object
 3   posteam_type               99973 non-null  int64
 4   yardline_100               99973 non-null  float64
 5   quarter_seconds_remaining  99973 non-null  float64
 6   half_seconds_remaining     99973 non-null  float64
 7   game_seconds_remaining     99973 non-null  float64
 8   qtr                        99973 non-null  int64
 9   down                       99973 non-null  float64
 10  goal_to_go                 99973 non-null  int64
 11  ydstogo                    99973 non-null  int64
 12  play_type                  99973 non-null  object
 13  score_differential         99973 non-null  float64
 14  shotgun                    99973 non-null  int64
 15  no_huddle                  99973 non-null  int64
 16  Off_PF                     99973 non-null  float64
 17  Off_Fum_Play               99973 non-null  float64
 18  Off_Comp_Pct               99973 non-null  float64
 19  Off_TD_PA                  99973 non-null  float64
 20  Off_INT_PA                 99973 non-null  float64
 21  Off_NY/A                   99973 non-null  float64
 22  Off_1D_PA                  99973 non-null  float64
 23  Off_TD_RA                  99973 non-null  float64
 24  Off_Y/A                    99973 non-null  float64
 25  Off_1D_RA                  99973 non-null  float64
 26  Off_Pass_Pct               99973 non-null  float64
 27  Def_PF                     99973 non-null  int64
 28  Def_Fum_Play               99973 non-null  float64
 29  Def_Comp_Pct               99973 non-null  float64
 30  Def_TD_PA                  99973 non-null  float64
 31  Def_INT_PA                 99973 non-null  float64
 32  Def_NY/A                   99973 non-null  float64
 33  Def_1D_PA                  99973 non-null  float64
 34  Def_TD_RA                  99973 non-null  float64
 35  Def_Y/A                    99973 non-null  float64
 36  Def_1D_RA                  99973 non-null  float64
 37  Def_Pass_Pct               99973 non-null  float64
dtypes: float64(27), int64(8), object(3)
memory usage: 29.7+ MB

In [44]:
# Save DF to csv file
final_df.to_csv(r'C:\Users\Garth Torok\MattTorok\capstone\Data\merged_df.csv', index=False)