In [1]:
import pandas as pd

In [2]:
YEARS = [2019,2018,2017]

In [3]:
data = pd.DataFrame()

for i in YEARS:  
    i_data = pd.read_csv('https://github.com/guga31bb/nflfastR-data/blob/master/data/' \
                         'play_by_play_' + str(i) + '.csv.gz?raw=True',
                         compression='gzip', low_memory=False)

    data = data.append(i_data, sort=True)

In [28]:
data.reset_index(drop=True, inplace=True)

In [29]:
df = data[['game_date', 'posteam', 'defteam', 'posteam_type', 'yardline_100','quarter_seconds_remaining','half_seconds_remaining','game_seconds_remaining','qtr','down','goal_to_go','ydstogo','play_type','score_differential','shotgun','no_huddle']]
df = df.dropna()

In [30]:
df.reset_index(drop=True, inplace=True)

In [31]:
df

,game_date,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,goal_to_go,ydstogo,play_type,score_differential,shotgun,no_huddle
0,2019-09-08,ATL,MIN,away,75.0,900.0,1800.0,3600.0,1,1.0,0,10,pass,0.0,0,0
1,2019-09-08,ATL,MIN,away,83.0,860.0,1760.0,3560.0,1,2.0,0,18,run,0.0,0,0
2,2019-09-08,ATL,MIN,away,79.0,821.0,1721.0,3521.0,1,3.0,0,14,run,0.0,1,0
3,2019-09-08,ATL,MIN,away,67.0,779.0,1679.0,3479.0,1,4.0,0,2,punt,0.0,0,0
4,2019-09-08,MIN,ATL,home,21.0,773.0,1673.0,3473.0,1,1.0,0,10,no_play,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119128,2018-02-04,NE,PHI,home,78.0,27.0,27.0,27.0,4,1.0,0,10,qb_spike,-8.0,0,0
119129,2018-02-04,NE,PHI,home,78.0,26.0,26.0,26.0,4,2.0,0,10,pass,-8.0,1,0
119130,2018-02-04,NE,PHI,home,67.0,20.0,20.0,20.0,4,1.0,0,10,pass,-8.0,1,0
119131,2018-02-04,NE,PHI,home,51.0,13.0,13.0,13.0,4,1.0,0,10,pass,-8.0,1,0
119132,2018-02-04,NE,PHI,home,51.0,9.0,9.0,9.0,4,2.0,0,10,pass,-8.0,1,0

In [32]:
df['posteam_type']=df['posteam_type'].map({'home': '1', 'away': '0'}).astype(int)

In [33]:
df

,game_date,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,goal_to_go,ydstogo,play_type,score_differential,shotgun,no_huddle
0,2019-09-08,ATL,MIN,0,75.0,900.0,1800.0,3600.0,1,1.0,0,10,pass,0.0,0,0
1,2019-09-08,ATL,MIN,0,83.0,860.0,1760.0,3560.0,1,2.0,0,18,run,0.0,0,0
2,2019-09-08,ATL,MIN,0,79.0,821.0,1721.0,3521.0,1,3.0,0,14,run,0.0,1,0
3,2019-09-08,ATL,MIN,0,67.0,779.0,1679.0,3479.0,1,4.0,0,2,punt,0.0,0,0
4,2019-09-08,MIN,ATL,1,21.0,773.0,1673.0,3473.0,1,1.0,0,10,no_play,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119128,2018-02-04,NE,PHI,1,78.0,27.0,27.0,27.0,4,1.0,0,10,qb_spike,-8.0,0,0
119129,2018-02-04,NE,PHI,1,78.0,26.0,26.0,26.0,4,2.0,0,10,pass,-8.0,1,0
119130,2018-02-04,NE,PHI,1,67.0,20.0,20.0,20.0,4,1.0,0,10,pass,-8.0,1,0
119131,2018-02-04,NE,PHI,1,51.0,13.0,13.0,13.0,4,1.0,0,10,pass,-8.0,1,0
119132,2018-02-04,NE,PHI,1,51.0,9.0,9.0,9.0,4,2.0,0,10,pass,-8.0,1,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119133 entries, 0 to 119132
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   game_date                  119133 non-null  object
 1   posteam                    119133 non-null  object
 2   defteam                    119133 non-null  object
 3   posteam_type               119133 non-null  int32
 4   yardline_100               119133 non-null  float64
 5   quarter_seconds_remaining  119133 non-null  float64
 6   half_seconds_remaining     119133 non-null  float64
 7   game_seconds_remaining     119133 non-null  float64
 8   qtr                        119133 non-null  int64
 9   down                       119133 non-null  float64
 10  goal_to_go                 119133 non-null  int64
 11  ydstogo                    119133 non-null  int64
 12  play_type                  119133 non-null  object
 13  score_differential         119133 non-null  float64
 14  shotgun                    119133 non-null  int64
 15  no_huddle                  119133 non-null  int64
dtypes: float64(6), int32(1), int64(5), object(4)
memory usage: 14.1+ MB

In [47]:
play_df = df[df['play_type'].isin(['run', 'pass'])]

In [48]:
pd.to_datetime(play_df.game_date, infer_datetime_format=True)

0        2019-09-08
1        2019-09-08
2        2019-09-08
5        2019-09-08
6        2019-09-08
            ...
119127   2018-02-04
119129   2018-02-04
119130   2018-02-04
119131   2018-02-04
119132   2018-02-04
Name: game_date, Length: 99973, dtype: datetime64[ns]

In [49]:
play_df['game_date'] = pd.DatetimeIndex(play_df['game_date']).year
play_df

,game_date,posteam,defteam,posteam_type,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,qtr,down,goal_to_go,ydstogo,play_type,score_differential,shotgun,no_huddle
0,2019,ATL,MIN,0,75.0,900.0,1800.0,3600.0,1,1.0,0,10,pass,0.0,0,0
1,2019,ATL,MIN,0,83.0,860.0,1760.0,3560.0,1,2.0,0,18,run,0.0,0,0
2,2019,ATL,MIN,0,79.0,821.0,1721.0,3521.0,1,3.0,0,14,run,0.0,1,0
5,2019,MIN,ATL,1,31.0,752.0,1652.0,3452.0,1,1.0,0,20,pass,0.0,0,0
6,2019,MIN,ATL,1,23.0,717.0,1617.0,3417.0,1,2.0,0,12,pass,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119127,2018,NE,PHI,1,91.0,42.0,42.0,42.0,4,4.0,0,10,pass,-8.0,1,0
119129,2018,NE,PHI,1,78.0,26.0,26.0,26.0,4,2.0,0,10,pass,-8.0,1,0
119130,2018,NE,PHI,1,67.0,20.0,20.0,20.0,4,1.0,0,10,pass,-8.0,1,0
119131,2018,NE,PHI,1,51.0,13.0,13.0,13.0,4,1.0,0,10,pass,-8.0,1,0
119132,2018,NE,PHI,1,51.0,9.0,9.0,9.0,4,2.0,0,10,pass,-8.0,1,0

In [51]:
play_df = play_df.rename(columns={'game_date':'Year'})

In [53]:
play_df['Year']=play_df['Year'].astype(int)

In [55]:
play_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99973 entries, 0 to 119132
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       99973 non-null  int32
 1   posteam                    99973 non-null  object
 2   defteam                    99973 non-null  object
 3   posteam_type               99973 non-null  int32
 4   yardline_100               99973 non-null  float64
 5   quarter_seconds_remaining  99973 non-null  float64
 6   half_seconds_remaining     99973 non-null  float64
 7   game_seconds_remaining     99973 non-null  float64
 8   qtr                        99973 non-null  int64
 9   down                       99973 non-null  float64
 10  goal_to_go                 99973 non-null  int64
 11  ydstogo                    99973 non-null  int64
 12  play_type                  99973 non-null  object
 13  score_differential         99973 non-null  float64
 14  shotgun                    99973 non-null  int64
 15  no_huddle                  99973 non-null  int64
dtypes: float64(6), int32(2), int64(5), object(3)
memory usage: 12.2+ MB

In [56]:
play_df.to_csv(r'C:\Users\Garth Torok\MattTorok\capstone\play_df.csv')